name: CI/CD MLflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CSV_URL: "MLproject/train_pca.csv"
  TARGET_VAR: "Credit_Score"
  
jobs:
  build:
    runs-on: ubuntu-latest
    
steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3

- name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

- name: Check Env
        run: |
          echo $CSV_URL

- name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow 

- name: Run mlflow project
        run: |
          mlflow run MLproject --env-manager=local
